---
database:
  weightgrapher: postgresql://{{ config.database.weightgrapher.user }}:{{ config.database.weightgrapher.pass }}@{{ config.database.weightgrapher.host }}/weightgrapher

secrets:
{% for secret in config.secrets %}
  - {{ secret }}
{% endfor %}

smtp:
  host: {{ config.smtp.host }} 
  port: {{ config.smtp.port }}
  sasl_username: {{ config.smtp.sasl_username }}
  sasl_password: {{ config.smtp.sasl_password }}

mkit_path: {{ config.mkit_path }}
